In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

from scipy import stats
import statsmodels.api as sm
from statsmodels.formula.api import ols
from statsmodels.multivariate.manova import MANOVA

# CHI-square test applied to categorical data:

# CHI-Squared test statement:
hm ye axpect kr rhy hn k 50% log vegitarian aur 50$ log non-vegitarian hn\
agar is me koi difference ha to hm usko chi-squared test se check krna hn

In [8]:
from scipy.stats import chisquare

# hypothetical observeed frequencies::
observed = np.array([30, 70]) # vegitarian 30%, non-vegitarian 70%
# hypothetical expected frequencies::
expected = np.array([50, 50]) # 50% vegitarian, 50% non-vegitarian
# chi-squared test::
chi2_stat, p_value = chisquare(observed, expected)
print(f"Chi-squared Statistic: {chi2_stat}")
print(f"P-value: {p_value}")
# print using  if statement else statement::
if p_value < 0.05:
    print("Reject the null hypothesis: There is a significant difference in the proportions of vegetarians and non-vegetarians.")
else:
    print("Fail to reject the null hypothesis: There is no significant difference in the proportions of vegetarians and non-vegetarians.")

Chi-squared Statistic: 16.0
P-value: 6.334248366623988e-05
Reject the null hypothesis: There is a significant difference in the proportions of vegetarians and non-vegetarians.

# Contingency table:

In [ ]:
from scipy.stats import chi2_contingency

df = sns.load_dataset("tips")
df.head()
# applied to categorical data:

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [22]:
# contingency table:
contingency_table = pd.crosstab(df['sex'], df['smoker']) # sex ki base pr smoking me koi fark parta ha ya nai
contingency_table

smoker  Yes  No
sex
Male     60  97
Female   33  54

In [23]:
# perform chi-squared test:
chi2_stat, p_value, dof, expected = chi2_contingency(contingency_table)
print(f"Chi-squared Statistic: {chi2_stat}")
print(f"P-value: {p_value}")
print(f"Degrees of Freedom: {dof}")
print(f"Expected Frequencies:\n{expected}")

# print using  if statement else statement::
if p_value < 0.05:
    print("Reject the null hypothesis: There is a significant association between sex and smoking status.")
else:
    print("Fail to reject the null hypothesis: There is no significant association between sex and smoking status.")

Chi-squared Statistic: 0.0
P-value: 1.0
Degrees of Freedom: 1
Expected Frequencies:
[[59.84016393 97.15983607]
 [33.15983607 53.84016393]]
Fail to reject the null hypothesis: There is no significant association between sex and smoking status.

In [19]:
# contingency table:
contingency_table2 = pd.crosstab(df['sex'], df['time']) # sex ki base pr time dekhy gy k dinner me male and female koi fark parta ha ya nai
contingency_table2

time    Lunch  Dinner
sex
Male       33     124
Female     35      52

In [21]:
# chi-squared test using statsmodels::
chi2_stat, p_value, dof, expected = chi2_contingency(contingency_table2)
print(f"Chi-squared Statistic: {chi2_stat}")
print(f"P-value: {p_value}")
print(f"Degrees of Freedom: {dof}")
print(f"Expected Frequencies:\n{expected}")
# print using  if statement else statement::
if p_value < 0.05:
    print("Reject the null hypothesis: There is a significant association between sex and time.")
else:
    print("Fail to reject the null hypothesis: There is no significant association between sex and time.")

Chi-squared Statistic: 9.343808982970623
P-value: 0.002237400118075248
Degrees of Freedom: 1
Expected Frequencies:
[[ 43.75409836 113.24590164]
 [ 24.24590164  62.75409836]]
Reject the null hypothesis: There is a significant association between sex and time.