# STATISTICAL ANALYSIS:

## 1- Chi Square Test:
ye btata ha k categorical variables apas me koi fark ha k nai using contigency table \
is liye hmy na to normal distribution dekhny ki zarurat ha aur na hi aur na hi data distribution ki

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from scipy import stats

In [2]:
df = sns.load_dataset("titanic")
df.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

## sb  se pahly hm apny 2 hypothesis bna lety hn H0 and  H1 \
Null Hypothesis: there is no significant association between 'gender' and 'sex' column \
Alternate Hypothesis: there is association between them

In [3]:
# make a contigency table
# its cross table actually
contigency_table = pd.crosstab(df["survived"], df["sex"])
contigency_table

sex       female  male
survived
0             81   468
1            233   109

In [4]:
stats.chi2_contingency(contigency_table)
# chi2_contingency iska matlab k hm chi2 test lga rhy hn contigency table p aur contigency table me 2 columns aaty hn sex aur survived
# ye result bht bara a rha ha is liye hm inko separate rakh k easily har cheez ko alag alag print krenge

Chi2ContingencyResult(statistic=np.float64(260.71702016732104), pvalue=np.float64(1.1973570627755645e-58), dof=1, expected_freq=array([[193.47474747, 355.52525253],
       [120.52525253, 221.47474747]]))

In [5]:
# perform chi-square test
chi2, p, dof, expected = stats.chi2_contingency(contigency_table)  # dof is degree of freedom
print("chi2:", chi2)
print("p_value:", p)
print("degree of freedom:", dof)
print(f"expected: \n {expected}")

# print results using if else

if p > 0.05:
    print("accept null hypothesis")
else:
    print("reject null hypothesis")

chi2: 260.71702016732104
p_value: 1.1973570627755645e-58
degree of freedom: 1
expected:
 [[193.47474747 355.52525253]
 [120.52525253 221.47474747]]
reject null hypothesis

### value of p bht choti ha 10^-58 ha jo k 0.05 se bht kam ha confidence interval bht low to ham H0 hypothesis ko reject krein gy
### acha is ka matlab ya ha k H0 to keh rha ha na k in donon me koi fark nai ha lekin confidence bht kam ha is liye ye values to bta rhi hn in me bht fark ha is liye H1 theek hypothesis ha..